.navbar {
    background: linear-gradient(135deg, #000000, #0056b3);
    padding:0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    height: auto;
}

.navbar-link {
    color: rgb(255, 255, 255);
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar-link:hover {
    color: #ffcc00;
    text-decoration: underline;
}

.navbar-button {
    background: #ff4757;
    transition: all 0.3s ease-in-out;
}

.navbar-button:hover {
    background: #e84118;
}
